.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 20px;
    background-color: darkgray;
}

.button_delete{
    background: none;
    border: none;
    cursor: pointer;
    
}